<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<style>
    #preview *{
        font-family: 'Play';
    }
</style>

<body>
    <%- include('./nav') %>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>Thêm câu hỏi</h1>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="level" class="form-label">Độ khó</label>
                        <select class="form-select" id="level">
                            <option value="normal" selected>Thường</option>
                            <option value="hard">Khó</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Mô tả</label>
                        <textarea name="" id="text" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="mb-3" id="image-form">
                        <!-- Image input placeholder -->
                    </div>
                    <div class="mb-3">
                        <a href="javascript:void(0);" onclick="moreImage()" class="btn btn-info">Thêm hình ảnh</a>
                    </div>
                    <div class="mb-3" id="video-form">
                        <!-- Video input placeholder -->
                    </div>
                    <div class="mb-3">
                        <a href="javascript:void(0);" onclick="moreVideo()" class="btn btn-info">Thêm video</a>
                    </div>

                    <div class="mb-3">
                        <label for="answer" class="form-label">Đáp án</label>
                        <textarea id="answer" cols="30" rows="3" class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <a href="javascript:void(0);" onclick="addQuestion()" class="btn btn-primary">Xác nhận</a>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6">
                <h1>Xem trước</h1>
                <div id="preview">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="left" href="javascript:void(0);" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: xx-large;"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <h1 class="text-center">Câu hỏi 1</h1>
                        <a class="right" href="javascript:void(0);" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: xx-large;"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <p id="text-preview">
                    </p>

                    <div id="image-preview" class="text-center">
                        <!-- Image preview placeholder -->
                    </div>

                    <div id="video-preview" class="text-center">
                        <!-- Video preview placeholder -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<%- include('./foot') %> 

<script>
    const MAX_IMAGE_NUM = 5;
    const MAX_VIDEO_NUM = 2;

    // Event change text => update preview text
    document.getElementById("text").addEventListener('input', (e) => {
        document.getElementById("text-preview").innerText = e.target.value;
    });

    // Image
    var imageIndex = 0;
    var imageCount = 0;
    function moreImage() {
        if (imageCount < MAX_IMAGE_NUM) {
            // Create input file button
            document.getElementById("image-form").insertAdjacentHTML('beforeend', 
            `
                <div id="image-div-${imageIndex}">
                    <label for="image-file-btn-${imageIndex}">Hình ảnh</label>
                    <a href="javascript:void(0);" onclick="removeImage(${imageIndex})">Xoá</a>
                    <input type="file" class="form-control" id="image-file-btn-${imageIndex}" accept="image/*">
                </div>
            `
            );

            // Create preview image
            const imgPreview = document.createElement('img');
            imgPreview.setAttribute("alt", `image-preview-${imageIndex}`);
            imgPreview.setAttribute("id", `image-preview-${imageIndex}`);
            imgPreview.setAttribute("class", `img-thumbnail`);
            document.getElementById("image-preview").insertAdjacentElement('beforeend', imgPreview);

            // Event inpit file button change => update preview image
            document.getElementById(`image-file-btn-${imageIndex}`).addEventListener('change', e => {
                if (e.target.files && e.target.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        imgPreview.src = e.target.result;
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            // Update image count variable
            imageIndex++;
            imageCount++;
        } else {
            alert(`Tối đa ${MAX_IMAGE_NUM} hình ảnh`);
        }
    }

    function removeImage(id) {
        document.getElementById(`image-div-${id}`).remove(); 
        document.getElementById(`image-preview-${id}`).remove();

        imageCount--;
    }

    // Video
    var videoIndex = 0;
    var videoCount = 0;
    function moreVideo() {
        if (videoCount < MAX_VIDEO_NUM) {
            // Create input file button
            document.getElementById("video-form").insertAdjacentHTML('beforeend', 
            `
                <div id="video-div-${videoIndex}">
                    <label for="video-file-btn-${videoIndex}">Youtube video ID</label>
                    <a href="javascript:void(0);" onclick="removeVideo(${videoIndex})">Xoá</a>
                    <a href="javascript:void(0);" onclick="previewVideo(${videoIndex})" id="12345">OK</a>
                    <input type="text" class="form-control" id="yt-video-id-${videoIndex}">
                </div>
            `
            );
    
            // Update count variable
            videoIndex++;
            videoCount++;
        } else {
            alert(`Tối đa ${MAX_VIDEO_NUM} video`);
        }
    }

    function previewVideo(id) {
        console.log(`yt-video-id-${id}`);
        const inputBox = document.getElementById(`yt-video-id-${id}`);
        const videoId = inputBox.value;
        document.getElementById("video-preview").insertAdjacentHTML('beforeend', 
            `
                <div id="video-preview-${id}">
                    <iframe width="560" height="315" id="video-preview-${id}" src="https://www.youtube.com/embed/${videoId}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            `
        );
        inputBox.disabled = true;
    }

    function removeVideo(id) {
        document.getElementById(`video-div-${id}`).remove();
        document.getElementById(`video-preview-${id}`)?.remove();

        videoCount--;
    }

    async function addQuestion() {
        // Get fields
        var level = document.getElementById("level").value;
        var text = document.getElementById("text").value;
        var images = [];
        document.getElementById("image-preview").querySelectorAll("img[src]").forEach(element => {
            images.push(element.src);
        });
        var ytVideoIds = [];
        document.getElementById("video-form").querySelectorAll("input[disabled]").forEach(element => {
            ytVideoIds.push(element.value);
        });
        var answer = document.getElementById("answer").value;
        console.log("level", level);
        console.log("Text:", text);
        console.log("Image count:", images.length);
        console.log("Videos: ", ytVideoIds);
        console.log("Answer: ", answer);

        // Get last question id, update new last id
        var questionsMetadataRef = db.collection("metadata").doc("questions");
        var questionMetadataDoc = await questionsMetadataRef.get();
        var questionMetadata = questionMetadataDoc.data();
        const newLastId = questionMetadata.lastId + 1;
        questionsMetadataRef.set({
            lastId: newLastId
        });

        // Set question id
        const questionId = `question_${newLastId}`;

        // Upload images
        const uploadTasks = [];
        const imgDownloadURLs = [];
        var doneTaskNum = 0;

        for (let i = 0; i < images.length; i++) {
            var imgRef = firebase.storage().ref(`images/questions_${questionId}_${i}`);

            var uploadTask = imgRef.putString(images[i], 'data_url');

            uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                (snapshot) => {
                    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log(`Upload image ${i} is ${progress} + % done`);
                }, 
                (error) => {
                    console.log(error);
                }, 
                () => {
                    uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                        console.log('File available at', downloadURL);
                        imgDownloadURLs[i] = downloadURL;

                        doneTaskNum++;

                        if (doneTaskNum == images.length) {
                            upQuestionToDB();
                        }

                    });
                }
            );
        }

        if (images.length == 0) {
            upQuestionToDB();
        }

        // Add question to database
        function upQuestionToDB() {
            var new_qst = db.collection("questions").doc(`question_${newLastId}`);

            new_qst.set({
                level: level,
                text: text,
                images: imgDownloadURLs,
                ytVideoIds: ytVideoIds,
                answer: answer
            }).then(()=>{
                console.log("Added question to db");
                window.location = '/admin/manage-question';
            });
        }
    }
</script>

</html>