<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<body>
    <div class="container">
        <h1>Quản lý câu hỏi</h1>
        <div class="row">
            <div class="col">
                Câu hỏi
            </div>
        </div>

        <hr>
        <h1>Quản lý người dùng</h1>
        <a href="/admin/logout" class="btn btn-danger">Đăng xuất</a>
    </div>
</body>

<script>
    
</script>

</html>