<%- include('../part/head') %>

    <!-- Add your site or app content here -->
    <div class="container">
        <div class="row">
            <div class="template-example">
                <h2 class="template-title-example">Hướng dẫn luật chơi</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui reprehenderit odit quibusdam
                    iusto blanditiis fugiat, quos alias obcaecati illum repudiandae, eum eos consectetur modi, aliquid
                    hic non accusantium ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui
                    reprehenderit odit quibusdam iusto blanditiis fugiat, quos alias obcaecati illum repudiandae, eum
                    eos consectetur modi, aliquid hic non accusantium ipsa.Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Totam qui reprehenderit odit quibusdam iusto blanditiis fugiat, quos alias
                    obcaecati illum repudiandae, eum eos consectetur modi, aliquid hic non accusantium ipsa.Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Totam qui reprehenderit odit quibusdam iusto blanditiis
                    fugiat, quos alias obcaecati illum repudiandae, eum eos consectetur modi, aliquid hic non
                    accusantium ipsa.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui reprehenderit
                    odit quibusdam iusto blanditiis fugiat, quos alias obcaecati illum repudiandae, eum eos consectetur
                    modi, aliquid hic non accusantium ipsa.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam qui reprehenderit odit quibusdam iusto blanditiis fugiat, quos alias obcaecati illum
                    repudiandae, eum eos consectetur modi, aliquid hic non accusantium ipsa.Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Totam qui reprehenderit odit quibusdam iusto blanditiis fugiat, quos
                    alias obcaecati illum repudiandae, eum eos consectetur modi, aliquid hic non accusantium ipsa.
                </p>
            </div>
        </div>
    </div>
<%- include('../part/foot') %>