<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
        <%- include('../part/alert') %>
            <div id="background"></div>
            <div class="container main-container">
                <h3>Quên mật khẩu</h3>
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label for="email">Email đã đăng ký tài khoản</label>
                            <input type="email" id="email" class="form-control" placeholder="">
                        </div>
                        <p></p>
                        <label for="btn">Nhận email reset mật khẩu</label>
                        <div>
                            <a href="#" id="btn" class="fantasy-btn" onclick="sendEmail()">Gửi email</a>
                        </div>
                        <p id="message"></p>
                    </div>
                </div>
            </div>
    </body>

<%- include('../part/foot') %>

<script>
    function validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function showMessage(message) {
        document.getElementById("message").innerText = message;
    }

    function sendEmail() {
        let email = document.getElementById("email").value;

        if (!validateEmail(email)) {
            showAlert("Vui lòng nhập email hợp lệ");
            return;
        }

        var actionCodeSettings = {
            url: window.location.origin + '/myaccount',
            handleCodeInApp: true
        };

        firebase.auth().sendPasswordResetEmail(
            email, actionCodeSettings)
            .then(function () {
                showMessage("Email đã được gửi, vui lòng kiểm tra hòm mail");
                document.getElementById("btn").onclick = null;
            })
            .catch(function (error) {
                if (error.code == "auth/user-not-found") {
                    showMessage("Email này không khớp với bất kỳ tài khoản nào");
                } else {
                    showMessage(error.message);
                    console.log(error)
                }
            });
    }
</script>

</html>