<!doctype html>
<html lang="en">

  <%- include('../part/head') %>
  
  <style>
    #fb-login-btn{
      display: flex;
      height: 50px;
      background-color: rgb(59,89,152);
      align-items: center;
      margin: 10px 0px;
      padding: 10px;
    }

    #fb-login-btn:hover{
      cursor: pointer;
      background-color: rgb(79,109,172);
    }

    #gg-login-btn{
      display: flex;
      height: 50px;
      background-color: rgb(66,133,244);
      align-items: center;
      margin: 10px 0px;
      padding: 10px;
    }

    #gg-login-btn:hover{
      cursor: pointer;
      background-color: rgb(86,153,255);
    }

    .login-txt{
      margin-left: 10px
    }
  </style>

  <body>
    <%- include('../part/nav') %>
      <div id="background"></div>
      <div class="container">
        <div class="col col-md-6 col-xs-12">
          <h2>Đăng nhập</h2>

          <div class="form-group">
              <label for="login_email">Email</label>
              <input type="email" class="form-control" id="login_email" placeholder="Email">
              <label for="login_password">Mật khẩu</label>
              <input type="password" class="form-control" id="login_password" placeholder="******">
          </div>

          <div class="form-group d-flex flex-row justify-content-between">
              <label class="checkbox-inline">
                  <input type="checkbox" id="remember" value="option1"> Lưu tài khoản
              </label>
              <a href="/forgot">Quên mật khẩu</a>
          </div>

          <div class="form-group">
              <a href="#" onclick="login()" class="fantasy-btn">Đăng nhập</a>
              <a href="/register" class="fantasy-btn">Đăng ký</a>
          </div> 

          <p id="message"></p>

          <div>
            <div id="gg-login-btn" onclick="signInWithGoogle()">
              <img src="/images/google-logo.png" alt="" width="25" height="25" style="border-radius: 2px;">
              <div class="text-white login-txt">Đăng nhập với Google</div>
            </div>
            <div id="fb-login-btn" onclick="signInWithFacebook()">
              <img src="/images/facebook-logo.png" alt="" width="25" height="25">
              <div class="text-white login-txt">Đăng nhập với Facebook</div>
            </div>
          </div>
      </div>
  </body>

  <%- include('../part/foot') %>

  <script>
    function showMessage(message) {
      document.getElementById("message").innerText = message;  
    }

    function login() {
      let email = document.getElementById("login_email").value;
      let password = document.getElementById("login_password").value;

      if (email == "" || password == "" || !validateEmail(email)) {
        alert("Vui lòng điền thông tin hợp lệ");
        return;
      }

      firebase.auth().signInWithEmailAndPassword(email, password)
        .then(userCredential => {
          user = userCredential.user;
          user.getIdToken().then((idToken)=>{
            fetch('/login', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
              },
              body: JSON.stringify({
                idToken, 
                remember: document.getElementById('remember').checked
              })
            }).then(resp => resp.json())
              .then(data => {
                if (data.code == "OK") {
                  window.location = '/myaccount';
                } else {
                  showMessage(data.message)
                }
              })
              .catch(error => {
                showMessage(error);
              });
          });
        }).catch(error => {
          showMessage(error)
        });
    }

    const inputElms = document.querySelectorAll("input")
    inputElms.forEach((elm)=>{
      elm.addEventListener('input', (event) => {
        document.getElementById("message").innerText = "";
      });
    });

    function signInWithGoogle() {
      // Using a popup.
      var provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope('profile');
      provider.addScope('email');
      firebase.auth().signInWithPopup(provider).then(function(userCredential) {
        // This gives you a Google Access Token.
        var token = userCredential.credential.accessToken;
        // The signed-in user info.
        var user = userCredential.user;

        if (userCredential.additionalUserInfo?.isNewUser) {
          initUser(user);
        }

        user.getIdToken().then(idToken => {
          fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              "CSRF-Token": Cookies.get("XSRF-TOKEN")
            },
            body: JSON.stringify({idToken})
          })
          .then(resp => resp.json())
          .then(data => {
            if (data.code == "OK") {
              showMessage("Đăng nhập với Google thành công");
              window.location = '/myaccount';
            } else {
              showMessage(data.message);
            }
          });
        });
      });
    }
  
    function signInWithFacebook() {
      // Sign in using a popup.
      var provider = new firebase.auth.FacebookAuthProvider();
      firebase.auth().signInWithPopup(provider).then(function(result) {
        // This gives you a Facebook Access Token.
        var token = result.credential.accessToken;
        // The signed-in user info.
        var user = result.user;

        user.getIdToken().then(idToken => {
          fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              "CSRF-Token": Cookies.get("XSRF-TOKEN")
            },
            body: JSON.stringify({idToken})
          })
          .then(resp => resp.json())
          .then(data => {
            if (data.code == "OK") {
              showMessage("Đăng nhập với Facebook thành công");
              window.location = '/myaccount';
            } else {
              showMessage(data.message);
            }
          });
        });
      });
    }
  </script>
</html>