<!doctype html>
<html lang="en">

  <%- include('../part/head') %>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <body>
    <%- include('../part/nav') %>
      <div id="background"></div>
      <div class="container">
        <div class="col col-md-6 col-xs-12">
          <h2>Đăng ký</h2>
      
          <div class="form-group">
            <label for="name">Tên hiển thị</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên hiển thị">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="******">
          </div>
      
          <p></p>
          
          <div class="form-group">
            <a type="submit" onclick="register()" class="fantasy-btn">Đăng ký</a>
          </div>
          <p id="message"></p>
        </div>
      </div>
  </body>

  <%- include('../part/foot') %>

  <script>
    function validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function register() {
      let name = document.getElementById('name').value;
      let email = document.getElementById('email').value;
      let password = document.getElementById('password').value;

      if (name == "" || email == "" || password == "" || !validateEmail(email)) {
        alert("Vui lòng điền thông tin hợp lệ");
        return;
      }

      fetch('/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({name, email, password})
      })
      .then(resp => resp.json())
      .then(data => {
        if (data.code == "EMAIL_EXISTED") {
          document.getElementById("message").innerText = data.message;
        } else if (data.code == "OK") {
          document.getElementById("message").innerText = data.message;



          setTimeout(()=>{
            window.location = '/checkemail';
          }, 1000);
        }
      });
    }
  </script>

</html>