<div class="wrapper">
    <div class="my-alert">
        <p>Thông báo</p>
        <h2 id="alert-message">Bạn đã trả lời sai</h2>
        <p></p>
        <a href="javascript:void(0);" onclick="hideAlert()" class="fantasy-btn">OK</a>
    </div>
</div>