<%- include('../part/head') %>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1 class="text-center">Chọn cấp độ</h1>

                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <h2>Thường</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda temporibus impedit, obcaecati libero reiciendis similique voluptatem deleniti itaque odit voluptate magnam! Corporis, quidem. Deserunt repellendus nesciunt harum iure odio unde.</p>
                            <a href="" class="btn btn-primary btn-lg">Chơi</a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h2>Khó</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis voluptates nulla voluptate fugiat, veniam expedita nihil beatae repudiandae libero consequatur architecto pariatur quaerat a culpa nostrum voluptatibus vel minima ipsa?</p>
                            <a href="" class="btn btn-info btn-lg">Chơi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../part/foot') %>