<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container">
                <h1>Chào mừng đến với Codehubvn</h1>
                <hr>
                <h2>Luật chơi</h2>
                <div>
                    <p>
                        - Người chơi sau khi chọn cấp độ sẽ nhận được thông tin đoạn mã cần giải và các manh mối có thể ở bất kì đâu trên internet, bên ngoài thực tế, ...
                    </p>
                    <p>
                        - Người chiến thắng là người hoàn thành tất cả các thử thách trong thời gian sớm nhất.
                    </p>
                    <p>
                        - Đối với cấp độ khó cao nhất, người thắng cuộc cần quay video quá trình giải, hoặc một video ngắn tổng hợp cách giải từng câu hỏi rồi gửi về codehubvietnam@gmail.com, ban tổ chức sẽ liên hệ người chiến thắng để trao thưởng. Các video người chơi gửi về cho ban tổ chức sẽ được làm tư liệu và sử dụng bởi Codehub team.
                    </p>
                    <p>
                        Lưu ý: Người chơi tham gia hoàn toàn có thể đăng tải câu hỏi, câu trả lời cũng như lời giải lên các nền tảng xã hội.
                    </p>
                </div>
                <a href="/play" class="fantasy-btn">Chơi ngay</a>
                <hr>
                <h2>Tuyển dụng</h2>
                <div>
                    <p>
                        Aute aliqua ad magna ipsum sint occaecat consequat labore mollit cillum aliqua. Ullamco culpa irure ipsum sunt do anim ut excepteur. Commodo culpa voluptate anim ex anim sit ex laborum officia laboris. Esse in aliqua cupidatat id consequat veniam aliqua id dolore. Reprehenderit fugiat irure adipisicing est aliquip proident.
                    </p>
                    <p>
                        Deserunt qui amet velit adipisicing laborum. Voluptate duis minim consectetur proident elit sint enim amet sint. Cupidatat velit aute reprehenderit enim in enim pariatur dolore laboris nisi minim. Tempor magna occaecat officia aute et nisi consectetur officia sit. Laborum laborum sit pariatur qui sit dolor magna nostrud velit labore. Ex ad excepteur deserunt exercitation.
                    </p>
                    <p>Cillum et pariatur consectetur dolore sit ipsum duis dolor cupidatat laborum laborum. Dolor nulla pariatur dolore sunt non commodo fugiat non eiusmod ea Lorem qui. Ad dolor eu minim tempor ipsum laborum. Veniam laborum cupidatat est proident ad. Ex magna commodo do cillum ex non consectetur ullamco pariatur laboris voluptate laborum. Reprehenderit non ad culpa nostrud culpa amet.</p>
                </div>
            </div>
    </body>

<%- include('../part/foot') %>

</html>