<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <style>
        .banner-img{
            width: 99%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            border-radius: 5px;
            box-shadow: 0px 0px 3px black;
        }
        
        .banner-img:hover{
            width: 100%;
            cursor: pointer;
            box-shadow: 0px 0px 5px black;
        }

        .banner-wrapper{
            display: flex;
            justify-content: center;
        }
    </style>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container main-container">

                <div class="banner-wrapper" onclick="window.location='/chooselevel'">
                    <img src="/images/code-games.jpg" alt="code-games" class="banner-img">
                </div>

                <p></p>

                <div class="banner-wrapper" onclick="window.location='/recruiment'">
                    <img src="/images/recruitment.jpg" alt="recruiment" class="banner-img">
                </div>
                                
            </div>
    </body>

<%- include('../part/foot') %>

</html>