<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <style>

        .banner-img{
            width: 95%;
            height: 95%;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            border-radius: 5px;
            box-shadow: 0px 0px 3px black;
        }
        
        .banner-img:hover{
            width: 100%;
            cursor: pointer;
            box-shadow: 0px 0px 5px black;
        }

        .banner-wrapper{
            position: relative;
            display: flex;
            justify-content: center;
        }

        .banner-text{
            position: absolute;
            top: 30%;
            color: white;
            font-size: 120px;
        }
    </style>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container main-container">

                <div class="banner-wrapper" onclick="window.location='/chooselevel'">
                    <img src="/images/code-games.jpg" alt="code-games" class="banner-img" height="400px">
                    <div class="banner-text">
                        TRÒ CHƠI
                    </div>
                </div>

                <p></p>

                <div class="banner-wrapper" onclick="window.location='/recruiment'">
                    <img src="/images/recruitment.jpg" alt="recruiment" class="banner-img">
                    <div class="banner-text">
                        TUYỂN DỤNG
                    </div>
                </div>
                
                <div class="mt-5 text-center">
                    <h2>Giới thiệu</h2>
                </div>
                <p>
                    Codehub Việt Nam là một trò chơi thực tế nơi người chơi thể hiện kiến thức và sự nhạy bén, sáng tạo của mình bàng cách giải các mật mã với mức độ khó tăng dần của chương trình.
                </p>
                <p>
                    Với hệ thống mật mã cùng với phần thưởng hấp dẫn, Codehub Việt Nam hứa hẹn sẽ là nơi để mọi người thể hiện khả năng sáng tạo cùng với phát triển tư duy, sự nhạy bén của bản thân.
                </p>
                <p>
                    Cùng với tinh thần đó, Codehub Việt Nam luôn luôn tìm những người đồng hành, bất kì ai có ý tưởng hay content hấp dẫn đều có thể trở thành nhà sáng tạo nội dung và đồng hành cùng đội ngũ sáng tạo của Codehub Việt Nam.”                    
                </p>
            </div>
    </body>

<%- include('../part/foot') %>

</html>