<!doctype html>
<html lang="en">

<%- include('../part/head') %>

  <body>
    <%- include('../part/nav') %>
      <div id="background"></div>
      <div class="container main-container">
        <div class="text-center">
          <h2>Bảng xếp hạng</h2>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="text-center">
              <h3>Thường</h3>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Xếp hạng</th>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Câu hỏi</th>
                    <th>Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="text-center">
              <h3>Khó</h3>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Xếp hạng</th>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Câu hỏi</th>
                    <th>Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">1</th>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3/4</td>
                    <td>17:14:17, Chủ Nhật, 25 tháng 7, 2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </body>

  <%- include('../part/foot') %>

</html>