<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container main-container">
                <h2>Tuyển dụng</h2>
                <p>
                    Aute tempor adipisicing do enim aute consectetur eu laboris velit nostrud. Consequat ea nostrud sit commodo esse id velit pariatur sit ex ad est. Non cillum commodo sunt proident cillum est mollit. Et aliqua consequat tempor excepteur ea esse Lorem. Lorem eu velit sint duis aute labore exercitation ut quis voluptate.
                </p>
                <p>
                    Aliquip cillum Lorem et qui minim velit nisi eiusmod mollit duis. Cupidatat sunt nulla aliquip qui ipsum tempor enim eiusmod. Aute laboris excepteur irure elit aliquip fugiat excepteur sit do officia aliquip cillum do duis. Nisi commodo aliqua mollit mollit deserunt esse magna et non sint cupidatat labore deserunt. Deserunt tempor dolore officia magna voluptate anim dolore veniam esse cupidatat cupidatat dolore quis. Sit veniam nulla aliqua laborum reprehenderit.
                </p>
                <p>
                    Fugiat dolor dolore consectetur cupidatat magna mollit aute non. Duis ad sint eu exercitation consectetur ex laborum. Et est magna sit sunt Lorem mollit ut minim culpa amet excepteur nostrud. Eu eiusmod commodo aliqua culpa proident eu. Sunt consequat in ipsum ad anim aute est ad nisi consectetur fugiat veniam amet. Minim reprehenderit Lorem aliquip reprehenderit excepteur mollit non nostrud minim proident ut excepteur proident. Pariatur commodo labore nisi minim officia culpa amet laboris tempor officia ullamco.
                </p>
                <p>
                    Duis nostrud dolore dolor eu fugiat in consectetur. Consectetur incididunt proident excepteur proident dolore ut nulla nulla consectetur mollit. Sit aute officia do culpa. Fugiat quis dolore voluptate amet ea.
                </p>
                
            </div>
    </body>

<%- include('../part/foot') %>

</html>