<!doctype html>
<html lang="en">

    <%- include('../part/head') %>

    <body>
        <%- include('../part/nav') %>
            <div id="background"></div>
            <div class="container main-container">
                <h2>Tuyển dụng</h2>
                <strong>
                    Codehub Việt Nam tuyển dụng nhà sáng tạo nội dung
                </strong>
                <ul>
                    <li>+ Theo dự án.</li>
                    <li>Bán thời gian.</li>
                </ul>
                <strong>
                    Yêu cầu người đăng kí ứng tuyển cần có sự hiểu biết chuyên sâu về một hoặc nhiều trong các lĩnh vực sau:
                </strong>
                <ul>
                    <li>Khoa học tự nhiên ( Toán, lý, hóa,...)</li>
                    <li>Khoa học xã hội ( lịch sử, địa lý,...)</li>
                    <li>Văn học</li>
                    <li>Hội họa, lịch sử hội họa</li>
                    <li>Điện ảnh</li>
                    <li>Sách, truyện tranh,...</li>
                </ul>
                <p>
                    Các ứng viên ứng tuyển bằng cách gửi CV qua hòm thư Codehubvietnam@gmail.com
                </p>
            </div>
    </body>

<%- include('../part/foot') %>

</html>